<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body  ng-app="searchApp">
    <div class="container body-content">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Search.
                </div>
                <div class="panel-body" ng-controller="SearchController">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<script>
    // Define the `phonecatApp` module
    var searchApp = angular.module('searchApp', []);

    // Define the `PhoneListController` controller on the `phonecatApp` module
    searchApp.controller('SearchController', function PhoneListController($scope,$http) {
        $scope.startSearch = function () {
            $http.post("/Search/Search", { query: $scope.searchText }).then(function (response) {
                $scope.results = response.data;
            });
        }
    });

</script>
</html>
